form{
	width: 400px;
	margin: 0 auto;
	position: relative;
}
fieldset{
	position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
	margin-bottom: 30px;
}
.input{
	position: relative;
	margin-bottom: 20px;
}
.input .input__label {
    font-size: 16px;
    color: #979797;
    font-family: 'als_ekibastuz', sans-serif;
    font-weight: normal;
    font-style: normal;
}
.input .input__req{
	color: red;
    font-size: 14px;
    position: relative;
    top: -5px;
}
.input .input__elem{
	margin-top: 10px;
	display: block;
	width: 100%;
	padding: 10px 6px;
	font-family: 'als_ekibastuz', sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    font-size: 16px;
    height: 40px; line-height: 20px;
    box-shadow: 5px 4px 30px -15px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	outline: none;
}
.input .input__elem.ng-touched.ng-invalid, fieldset.ng-touched.ng-invalid{
    border: 1px solid red;
}
.input .input__button{
	display: block;
	background: #0086ff;
	color: #fff;
	border: none;
    width: 60%;
    padding: 10px 6px;
    font-family: 'als_ekibastuz', sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
	margin: 0 auto;
	outline: none;
}
.input .input__button:disabled{
	opacity: 0.5;
}
.input .input__elem:focus {
    border: 1px solid #0086ff;
}
.input__error{
	position: absolute; 
	bottom: -15px; left: 0px;
	width: 100%;
	background: red;
	color: #fff;
	font-size: 12px;
	padding: 0 10px;
	box-sizing: border-box;
}
.popup{
	top: 72px;
	position: absolute;
	width: 100%; max-height: 120px;
	overflow: auto;
	background: #ededed;
	box-shadow: 5px 4px 30px -15px rgba(0, 0, 0, 0.3);
	z-index: 1111;
	border-radius: 5px;
}
.popup__item{
	padding: 5px 10px;
	line-height: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
	width: 100%; height: 30px; box-sizing: border-box;
	color: #222;
}
.popup__item:hover{
	background: #dcdcdc;
	cursor: pointer;
}
.shim{
	position: fixed;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	z-index: 11112;
	background: rgba(0,0,0,0.2);
}
.shim-inner{
	position: absolute;
	top: 100px; left: 50%;
	width: 500px; min-height: 300px; margin-left: -250px;
	background: #fff;
	border-radius: 10px;
	padding-top: 20px;
}