<form [formGroup]="myForm" (ngSubmit)="sendForm()">
	<div class="input">
		<label class="input__label">Поиск<input class="input__elem" type="text" name="search" formControlName='search' placeholder="Поиск"></label>
	</div>
	<div class="popup" *ngIf="myForm.get('search').value && myForm.get('search').value.length >= 3">
		<ng-container *ngIf="!isLoading">
			<div class="popup__item" *ngFor="let popup of popupList" (click)="showDetail(popup.id)">{{popup.theme}}</div>
		</ng-container>
	</div>
		<div class="input">
			<label class="input__label">ФИО<span class="input__req">*</span><input class="input__elem" type="text" name="fio" formControlName="fio" placeholder="ФИО"></label>
			<div class="input__error" *ngIf="myForm.controls['fio'].invalid && myForm.controls['fio'].touched">Необходимо заполнить поле ФИО</div>
		</div>
		<div class="input">
			<label class="input__label">Подразделение<span class="input__req">*</span><input class="input__elem" type="text" name="podr" formControlName="podr" placeholder="Подразделение"></label>	
			<div class="input__error" *ngIf="myForm.controls['podr'].invalid && myForm.controls['podr'].touched">Необходимо заполнить поле Подразделение</div>
		</div>
		<div class="input">
			<label class="input__label">Тема<span class="input__req">*</span><input class="input__elem" type="text" name="theme" formControlName="theme" placeholder="Тема"></label>	
			<div class="input__error" *ngIf="myForm.controls['theme'].invalid && myForm.controls['theme'].touched">Необходимо заполнить поле Тема</div>
		</div>
		<div class="input">
			<label class="input__label">Список событий<span class="input__req">*</span>
				<select class="input__elem" type="text" name="content" placeholder="Выберите тип события" formControlName="list">
					<option value="{{event}}" *ngFor="let event of eventsList">{{event}}</option>
				</select>
			</label>
			<div class="input__error" *ngIf="myForm.controls['list'].invalid && myForm.controls['list'].touched">Необходимо заполнить поле Список событий</div>
		</div>
		<fieldset formGroupName="contentOrAttach">
			<div class="input">
				<label class="input__label">Содержание<span class="input__req">*</span><input class="input__elem" type="text" name="content" formControlName="content" placeholder="Содержание"></label>	
			</div>
			<div class="input">
				<label class="input__label">Вложение<span class="input__req">*</span><input class="input__elem" type="file" name="attach" formControlName="attach" (change)="onFileChange($event)"></label>	
			</div>
			<div class="input__error" *ngIf="myForm.controls['contentOrAttach'].invalid && myForm.controls['contentOrAttach'].touched">Необходимо заполнить поле Содержание либо Вложение</div>
		</fieldset>
		<div class="input">
			<button class="input__button" name="send" type="submit" [disabled]="myForm.invalid">Отправить</button>
		</div>
		<div class="input">
			<button class="input__button" name="reset" type="reset">Очистить</button>
		</div>
</form>
<div class="shim" *ngIf="eventToShow">
	<div class="shim-inner">
		<form>
			<div class="input">
				<label class="input__label">ФИО<input class="input__elem" type="text" name="fio" placeholder="ФИО" [(ngModel)]="eventToShow.fio" disabled></label>	
			</div>
			<div class="input">
				<label class="input__label">Подразделение<input class="input__elem" type="text" name="podr" placeholder="Подразделение" [(ngModel)]="eventToShow.podr" disabled></label>	
			</div>
			<div class="input">
				<label class="input__label">Тема<input class="input__elem" type="text" name="theme" placeholder="Тема" [(ngModel)]="eventToShow.theme" disabled></label>	
			</div>
			<div class="input">
				<label class="input__label">Список событий<span class="input__req">*</span>
					<select class="input__elem" type="text" name="list" [(ngModel)]="eventToShow.list" disabled>
						<option value="{{event}}" *ngFor="let event of eventsList">{{event}}</option>
					</select>
				</label>	
			</div>			
			<div class="input">
				<label class="input__label">Содержание<input class="input__elem" type="text" name="content"  placeholder="Содержание" [(ngModel)]="eventToShow.content" disabled></label>	
			</div>
			<div class="input" *ngIf="eventToShow.attach!=''">
				<label class="input__label">Вложение&nbsp;<a target="_blank" href="{{URL}}/uploads/{{eventToShow.attach}}">скачать</a></label>	
			</div>
			<div class="input">
				<button class="input__button" (click)="closeDetail()">Закрыть</button>
			</div>
		</form>	
	</div>
</div>